/*
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,300,800);


body {
  background: #e8e2de;
}

div#mainform {
  border:solid 1px #ccc; background:#C1CDCD
}

hr{
  background-color: #fff;
  border-top: 2px dotted #C1CDCD;
}

form {
  border:double 20px rgba(193, 205, 205, 1); 
  background:rgba(193, 205, 205, 0.57);
}

div#nvbr {
  border:dotted 3px #aabbbb;
  padding: 0px 10px;
  background: #C1CDCD;
  font-family:raleway;
  font-size:40px;
}

div#showpage {
  padding: 5px 20px;
}

.text_area#jobby_job_description {
  width: 100px;
  height: 100px;
}
